$font-stack: 'Manrope', sans serif;
$font-header-large-size: 16px;
$font-header-size: 14px;
$font-header-color: #454545;
$font-header-weight: 600;
$font-standard-size: 12.5px;
$font-standard-color: #2E2E2E;
$font-disabled-color: #999999;
$font-description-size: 10.5px;
$font-description-color: #656565;
$font-link-color: #6fbbc7;
$standard-color-light-gray: #EFF2F2;
$standard-color-white: #ffffff;
$disabled-background-color: #E9EBEC;
$border-gray: #D6D6D6;
$border-gray-on-grey-background: #EEEEEF;
$read-only-opacity-background-color: rgba(0, 0, 0, .07);

$graphics-grey-darker-C: #000000;
$graphics-grey-darker-B: #171717;
$graphics-grey-darker-A: #2F2F2F;
$graphics-grey-standard: #454545;
$graphics-grey-lighter-A: #5E5E5E;
$graphics-grey-lighter-B: #737373;
$graphics-grey-lighter-C: #8B8B8B;
$graphics-grey-lighter-D: #A2A2A2;
$graphics-grey-lighter-E: #BABABA;

$flat-card-color: #EAEBED;
$flat-card-color-hover: #DCDDDF;
$flat-card-on-flat-card: #DCDDDF;
$flat-card-on-flat-card-hover: #CFD0D2;

$border-standard-radius: 7px;
$standard-card-margin: 7px;
$shadow-standard: 0 0 20px 8px rgba(0, 0, 0, 0.1);

$situation-color-inactive: #A3A3A3;
$situation-color-inactive-light: #C6C6C6;
$situation-color-not-started: #88AFB6;
$situation-color-not-started-light: #B5CDD2;
$situation-color-info: #6FBBC7;
$situation-color-info-light: #A6D5DC;
$situation-color-active: #E4B449;
$situation-color-active-light: #EED18E;
$situation-color-success: #75C482;
$situation-color-success-light: #A9DAB2;
$situation-color-warning: #D8915D;
$situation-color-warning-light: #E7BB9B;
$situation-color-error: #CC6F71;
$situation-color-error-light: #DFA6A7;

$primary-hover-color: #ededed;

$selected-color-lighter: #FFCC7F;
$selected-color: #FF9900;
$primary-selected-hover-color: #E4D6B4;

$theme-color: #0C4137;
$theme-hover-color: #1B4438;
$theme-selected-color: #63953f;
$border-table-radius: 3px;
