@page "/TestPage"

<TestComponent Items="items" OnItemExpanded="Callback">
    <ItemTemplate>
        <div>
            <p>@context.Name</p>
        </div>
    </ItemTemplate>
</TestComponent>

@code {

    private List<SimpleItemTest> items = new() {new SimpleItemTest("Test 1"), new SimpleItemTest("Test 2")};

    private void Callback(SimpleItemTest obj)
    {
        Console.WriteLine("Item Expanded - From Parent Component");
    }

}