@typeparam TItem where TItem : SimpleItemTest

@foreach (var item in Items)
{
    @if (ItemTemplate != null)
    {
        <div @onclick="@(() => ExpandItem(item))">
            @ItemTemplate(item)
        </div>
    }
}

@code {

    [Parameter, EditorRequired]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter, EditorRequired]
    public List<TItem> Items { get; set; }

    [Parameter]
    public EventCallback<SimpleItemTest> OnItemExpanded { get; set; }

    void ExpandItem(TItem item)
    {
        Console.WriteLine("Let's keep it simple, and handle the item expansion logic here, before raising the event callback so the parent can also run logic (if needed)");
        OnItemExpanded.InvokeAsync(item);
    }

}